
<!DOCTYPE html>

<html>

<head>

<title>

ThoughtBox

</title>


<link

rel="stylesheet"

href="{{url_for('static',

filename='style.css')}}"

>

</head>


<body>


<div class="container">


<h1>

Welcome

{{username}}

</h1>


<form

action="/post"

method="POST"

>

<textarea

name="content"

placeholder=

"What's your thought today?"

required

></textarea>


<button>

Post Thought

</button>


</form>


<a href="/logout">

Logout

</a>



<h2>

Recent Thoughts

</h2>


{% for thought in thoughts %}


<div class="card">


<h3>

{{thought.author.username}}

</h3>


<p>

{{thought.content}}

</p>


<small>

{{thought.created_at}}

</small>


</div>


{% endfor %}


</div>


</body>

</html>
